<!-- ALL KPIS -->
<div class="col-md-12 text-center">
    <div class="row">
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Total Models Explored</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_models_explored}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Total Deployed</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_deployed}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Total Model Insourced</h5>
                    <h1 class="display-5 mt-1 mb-3">{{total_model_insourced}}</h1>
                    <div class="mb-1">
                        <span class="text-danger"> <i class="mdi mdi-arrow-bottom-right"></i> -3.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">Yet To be Insourced</h5>
                    <h1 class="display-5 mt-1 mb-3">$130M</h1>
                    <div class="mb-1">
                        <span class="text-success"> <i class="mdi mdi-arrow-bottom-right"></i> 6.65%
                        </span>
                        <span class="text-muted">Since last week</span>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>